.container {
  background-image: url("../backgrounds/OldPaper.jpg");
  border:10px outset brown;
  -webkit-border-image:url(../assets/Warcraft3FanSite/images/orb-borders.png) 25 30 10 10 repeat;
  margin-left: -2%;
  border-image:url(../assets/Warcraft3FanSite/images/orb-borders.png) 25 30 10 20 repeat;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-weight: 4000;
    color:black
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  textarea{ 
    width: 70%; 
    min-width:70%; 
    max-width:70%;  
  
    height:70%; 
    min-height:70%; 
    max-height:100px;
    bottom:0px;
    position: relative;;
  }
/* basic css gotten from w3schools,modifed it to make it look more in line with the app*/
  .card {
    /* Add shadows to create the "card" effect */
    border-image:url(../assets/Warcraft3FanSite/images/p-chain.png) 25 30 10 20 repeat;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
   /* padding: 2px 16px;*/
    border-style: double;
    border-width: thick;
  }
