body{background-color:#fff;}
.card-header, .card-link,.card-link:hover{background-color:#000;text-align:center;color:hotpink;}
.card-body{padding:0px 0px;}

.card{width:250px;}
p{position:absolute;top:0px;right:10px;font-size:10px;color:white;
animation: minus 0.5s;}

@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}